# Ignorar todos os arquivos e subpastas por padrão
*

# Não ignorar o próprio .gitignore para manter a estrutura da pasta
!.gitignore

# Não ignorar as pastas específicas
!ong-events/
!pets/
!posts/

# Não ignorar arquivos específicos dentro das pastas
!ong-events/adocao.jpg
!ong-events/castracao.webp
!ong-events/feira.webp
!ong-events/vacinacao.webp
!ong-events/mutirao_castracao.jpeg

!pets/amora.jpg
!pets/bella.jpg
!pets/bidu.jpg
!pets/donatello.jpg
!pets/luna.jpg
!pets/maple.jpg
!pets/max.jpg
!pets/mia.jpg
!pets/pedepano.jpg
!pets/rex.jpg
!pets/thor.jpg
!pets/tom.jpg
!pets/lucky.jpg
!pets/simba.jpg

!adaptation_tips.jpg
!castration_benefits.jpg
!pet_care.jpg
